* {
  font-family: "Montserrat";
}

.header-navigation {
  width: 1280px;
}

.header-menu {
  text-align: center;
}

.menu-item-reference {
  color: #ff0000;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-menu-item {
  list-style: none;
  display: inline-block;
  margin-right: 72px;
}

.imagine-item {
  width: 100%;
  height: 789px;
}

.second-head {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  width: 1200px;
  height: 29px;
  color: #373737;
  text-transform: uppercase;
  text-align: center;
}
.main-paragrahp {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 1145px;
  height: 132px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-left: 67.5px;
}
.seccond-main-paragraph {
  width: 1145px;
  height: 216px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-left: 67.5px;
}
.button-item {
  color: #ffffff;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  background: #ff0000;
  border-radius: 4px;
  width: 191px;
  height: 51px;
  border-color: #ff0000;
  margin-left: 544.5px;
  display: block;
}

.footer-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 2.4px;
  position: absolute;
  margin-top: 82px;
  margin-bottom: 29px;
  margin-left: 713px;
  margin-right: 105px;
}
